# Importation

In [1]:
import pandas as pd
import numpy as np
import datetime, time
import json

In [59]:
df = pd.read_csv("summary.csv", index_col=0)
df["Date"] = pd.to_datetime(df.Date, format='%Y-%m-%dT00:00:00.000Z', errors='ignore')
df

,Name,Symbol,Date,Watching,Data2018,Rate,Price,Volume,FullyDilluted,CirculatingSupply
1,Bitcoin,BTC,2013-04-28,1870458,True,6.195538,11494.872689,9.975310e+09,1.928424e+11,1.677416e+07
2,Litecoin,LTC,2013-04-28,549972,True,1.988881,175.530034,9.753236e+08,9.595128e+09,8.094137e+05
3,Namecoin,NMC,2013-04-28,3326,True,0.916970,3.150424,6.527672e+05,4.642591e+07,3.979403e+03
4,Terracoin,TRC,2013-04-28,1428,True,0.198836,0.235587,2.426486e+04,5.173975e+06,4.613477e+02
5,Peercoin,PPC,2013-04-28,7095,True,0.498030,3.879527,2.271262e+06,9.526095e+07,8.151842e+03
...,...,...,...,...,...,...,...,...,...,...
11114,xNFT Protocol,XNFT,2021-07-30,30,False,NaN,NaN,NaN,NaN,NaN
11118,RBIZ,RBIZ,2021-07-30,109,False,NaN,NaN,NaN,NaN,NaN
11120,Seeder Finance,LEAF,2021-07-30,1603,False,NaN,NaN,NaN,NaN,NaN
11121,Rewards,RWD,2021-07-30,577,False,NaN,NaN,NaN,NaN,NaN
11122,The Token Kennel,KENNEL,2021-07-31,202,False,NaN,NaN,NaN,NaN,NaN

In [57]:
# Drop all nan
df = df[df.Data2018].drop("Data2018", axis=1).dropna()
df

,Name,Symbol,Date,Watching,Rate,Price,Volume,FullyDilluted,CirculatingSupply
1,Bitcoin,BTC,2013-04-28,1870458,6.195538,11494.872689,9.975310e+09,1.928424e+11,1.677416e+07
2,Litecoin,LTC,2013-04-28,549972,1.988881,175.530034,9.753236e+08,9.595128e+09,8.094137e+05
3,Namecoin,NMC,2013-04-28,3326,0.916970,3.150424,6.527672e+05,4.642591e+07,3.979403e+03
4,Terracoin,TRC,2013-04-28,1428,0.198836,0.235587,2.426486e+04,5.173975e+06,4.613477e+02
5,Peercoin,PPC,2013-04-28,7095,0.498030,3.879527,2.271262e+06,9.526095e+07,8.151842e+03
...,...,...,...,...,...,...,...,...,...
2808,Singapore Dollar,SGD,2013-04-28,0,1.012762,0.748482,0.000000e+00,0.000000e+00,0.000000e+00
2809,Thai Baht,THB,2013-04-28,0,1.049484,0.031020,0.000000e+00,0.000000e+00,0.000000e+00
2810,Turkish Lira,TRY,2013-04-28,0,0.613378,0.261814,0.000000e+00,0.000000e+00,0.000000e+00
2811,New Taiwan Dollar,TWD,2013-04-28,0,1.076093,0.033699,0.000000e+00,0.000000e+00,0.000000e+00
2812,South African Rand,ZAR,2013-04-28,0,0.909269,0.078419,0.000000e+00,0.000000e+00,0.000000e+00

# Add Change

# Save

In [58]:
df.to_csv("summaryOnlyTrue.csv")